*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

/*  The NAVBAR css code */
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
    z-index: 10000;
}
.header .logo
{
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header
{
    background-color: white;
    position: sticky;
}
.header ul
{
    display: flex;
    justify-content: center;
    align-items: center;


}
.header ul li
{
    list-style: none;
    margin-left: 20px;
}
.header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    position: relative;

}


/*End of NAVBAR css code*/

.section
{
    width: 100%;
    min-height: 103vh;
    background-color: #ddd;
}
.container
{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section
{
    float: left;
    width: 55%;
}
.image-section
{
    float: right;
    width: 40%;
}
.image-section img
{
    width: 100%;
    height: auto;
    margin-top: 150px;
    border-radius: 6px;
}
.content-section .title
{
    text-transform: uppercase;
    font-size: 38px;
}
.content-section .content h3
{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 31px;
}
.content-section .content p
{
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    line-height: 1.5;
}
.content-section .content .button
{
    margin-top: 30px;
}
.content-section .content .button a
{
    /*padding: 12px 40px;*/
    text-decoration: none;
    color: black;
    font-size: 25px;
    letter-spacing: 1.5px;
    display: inline-block;
    position: relative;
    margin-top: 10px;
}
.content-section .content .button a::before
{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease-out;
}
.content-section .content .button a:hover::before
{
    width: 100%;
    left: 0;
    right: auto;
}
.content-section .social
{
    margin-top: 30px;
    margin-left: -13px;
}
.content-section .social .instagram i
{
    color: red;
}
.content-section .social .facebook i
{
    color: #4267B2;
}

.content-section .social i
{
    color: black;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover
{
    transition: 0.25s;
    color: #5d5d5d;
}
@media screen and (max-width: 768px)
{
    .container
    {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section
    {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section
    {
        float: none;
        width: 100%;

    }
    .image-section img
    {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .content-section .title
    {
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button
    {
        text-align: center;
    }
    .content-section .content .button a
    {
        padding: 9px 30px;
    }
    .content-section .social
    {
        text-align: center;
        margin-bottom: 20px;
    }
}

.container:nth-child(even) img
{
    order: 2;
}

